PyAudio==0.2.14
requests==2.31.0
pyttsx3==2.90
stream2sentence==0.2.2
fastapi>=0.104.1
loguru
pydantic
pydub
python-dotenv
torch
torchaudio
uvicorn
cutlet
fugashi[unidic-lite]
tts==0.21.3
transformers==4.36.2